
*{
  
  font-family: "Roboto Slab", serif;
  
 }
 .App{
  margin-top:10px;
  display:flex;
justify-content:center;
  align-items:flex-end;

 }
 .card_header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:90%;
  left:10px;
 }
.main_view{
  display:flex;
  flex-direction:column;
  align-items:center;
  

}
.heading{
  display:inline;
  margin-left:20px;
}

    .view {
      align-items:center;
      width: 440px;
      height: 700px;
    display:flex;
    flex-direction:column;
      padding:10px;
      overflow: auto; /* Enable scrolling */
    }
  
  .view::-webkit-scrollbar {
      width: 10px; /* Width of the scrollbar */
    
      
  }
  
  .view::-webkit-scrollbar-thumb {
      background-color: #c7c7c7; /* Color of the scrollbar thumb */
  }
  
  .view::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Color of the scrollbar track */
      
  }
  
  
    .card{
      background-color:#FAFAFA;
    display:flex;
      gap:10px;
      width:410px;
      height:px;
      padding:16px 16px 16px 16px;
    gap:10px;
    margin-top:10px;
    box-sizing:border-box;
    border-radius:8px;
    }
    @media screen and (max-width: 680px) {
     .view {
        width:435px;
        margin-top:px;
        padding-left:25px;
      }
      .card{
        width:390px;
      }
      .d{
        height:40px;
      }
      .header{
        width:101%;
      }
      .card_header{
        padding-top:1px;
        padding-left:14px;
        height:55px;
      }
    }


.card:hover{
  
 
  .btn_delete{
    display:block;
  }
  .btn_edit{
    display:block;
    
  }

  .btn_View{
    display:block;
   
  }
  
  
  box-shadow: 2px 2px 5px  #e9e9e9;

}


  .info{
    margin-right:auto;
  }
    .info p{
    margin:0px;
    }
  
   .roundimage{
  border-radius:50%;
    
    }
  
    .div_btn{
      border:solid black;
    
    }
    .ad_contect{
      display:flex;
      align-items:center;

    }
    .btn{
      border-radius:5px;
    border:none;
     color:white;
    font-size:22px;
      background-color: #311B92;
      cursor:poiter;
      padding:4px 8px 4px 8px;
  
    }
    .plus{
      display:inline;
    }
  
   
    .btn_delete{
      border:none;
      height:32px;
     background-color:#D32F2F;
     color:white;
     font-size:large;
     border-radius:5px;
     cursor:pointer;
     display:none;
    }
    
.button_delete{
  display:flex;
  gap:4px;
    margin-left:10px;
}
 .btn_edit{
  border:none;
      height:32px;
     background-color:#0D47A1;
     color:white;
     font-size:large;
     border-radius:5px;
     cursor:pointer;
     padding:0px 14px 0px 14px;
     margin-bottom:2px;
     display:none;
    }


.First_Name{
  font-size:18px;
  font-weight:700;
  
}
.Phone_no{
  font-size:16px;
  font-weight:500;
}
.search_input{
  width:70%;
  font-size:15px;
  font-weight:600;
  margin-left:3px;
  height:40px;
}
.btn_View{
  border:none;
  height:32px;
 background-color:green;
 color:white;
 font-size:large;
 border-radius:5px;
 cursor:pointer;
 display:none;
}